.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.video-title-link {
    text-decoration: none;
    color: black;
  }

.sidebar-link:hover {
    background-color: lightgray;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}
