.thumbnail {
    width: 100%;
  }
  
  .video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  .profile-picture {
    width: 36px;
    border-radius: 50px;
  }
  
  .thumbnail-row {
    margin-bottom: 8px;
    position: relative;
  }
  
  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
  }
  
  .video-author {
    margin-bottom: 4px;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    text-decoration: underline;
    /* border: 2px solid red; */
  }

  @media (max-width: 750px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 751) and (max-width: 999px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

  @media (min-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 4px;
    /* padding: 2px 4px 2px 2px; */
    border-radius: 2px;
    background-color: black;
    color: white;
    position:absolute;
    bottom: 8px;
    right: 5px;

  }